.navbar{
    @include flex(flex, row, space-around, center);
    width: 100%;
    height: 84.719px;
    background-color: #592B41;

    .navbar__menu {
        margin-top: 0;
        margin-bottom: 0rem;
        .navbar__menulista{
            .navbar__menulink{
                color: #fff;
                border-bottom-color: #e84855;
                border-bottom: 4px solid transparent;
                transition: border .3s ease;}

                .navbar__menulink:hover{
                    border-bottom-color: #e84855;
                } 
                
                .navbar__menulink .active{
                    border-bottom-color: #e84855;
                }
        }
    }
}